{% macro math() %}
  {% if page.extra.math or section.extra.math or config.extra.math %}
    {% if config.extra.library and config.extra.library == "mathjax" %}
      <script>
      // https://mathjax.github.io/MathJax-demos-web/convert-configuration/convert-configuration.html
      window.MathJax = {
      	tex: {
      	inlineMath: [['$', '$'], ['\\(', '\\)']],
      	displayMath: [['$$', '$$'], ['\[\[', '\]\]']],
      	processEscapes: true,
      	processEnvironments: true,
      	},
      	options: {
      	skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
      	}
      };
      </script>
      <script  async defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" id="MathJax-script"></script>
    {% else %}
      <!-- KaTeX -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous">
      <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js" integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8" crossorigin="anonymous"></script>
      <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
    {% endif %}
  {% endif %}
{% endmacro %}
